[submodule "milan/milan"]
	path = milan/milan
	url = https://github.com/academicpages/academicpages.github.io
[submodule "milan/vladimir"]
	path = milan/vladimir
	url = https://github.com/academicpages/academicpages.github.io
[submodule "vladimir"]
	path = vladimir
	url = https://github.com/academicpages/academicpages.github.io
